@font-face{
  font-family: permanentMarker;
  src: url(PermanentMarker-Regular.ttf);
}

body{
  background: url(img/difficulty-bg.avif);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: permanentMarker;

}

.back_button{
    position: absolute;
    top: 10px;
    left: 10px;
    width:100px;
    height: 100px;
}
.content{
  text-align: center;
}

h2{
  display: inline-block;
  font-size: 42px;
  color: white;
  text-align: center;
  background: linear-gradient(0deg, rgb(52, 31, 9),  rgb(136, 88, 40) 100%);
  box-shadow: 0 0.5em 1.5em -0.5em rgb(56, 55, 54);
  border-radius: 40px;
  margin-top: 150px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
.buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  font-family: permanentMarker;
}
.easy_button, .medium_button, .hard_button{
  display: block;
  background: linear-gradient(0deg, rgb(93, 53, 13) 0%, rgba(201, 80, 5, 0.82) 100%);
    width: 200px;
    height: 100px;
    border-radius: 40px;
    cursor: pointer;
    transition-duration: 0.2s;
    font-size: 24pt;
    font-weight: bold;
    color: white;
    margin-top: 20px;
    font-family: permanentMarker;
  
}


.easy_button:hover, .medium_button:hover, .hard_button:hover {
  font-size: 30pt;
  width: 250px;
  box-shadow: 0 0.5em 1.5em -0.5em rgb(56, 55, 54);
}
.easy_button, .medium_button, .hard_button > a {
  text-decoration: none;
  color: white;
}
