@font-face{
  font-family: permanentMarker;
  src: url(PermanentMarker-Regular.ttf);
}

body {
    margin: 0;
    /* Remove default margin */
    padding: 0;
    /* Remove default padding */
    background-image: url('css/img/home_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    /* Set the height to 100% of the viewport height */
    font-family: permanentMarker;
    font-weight: 400;
    font-style: normal;
}

.back_button {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
    height: 100px;
    font-family: permanentMarker;
}

.hangman-figure {
    margin-top: 200px;
    margin-left: 200px;
    /* Add some space between the hangman display and the keyboard */
    float: left;
    /* Align the hangman display to the left */
}

.empty-hangman {
    position: relative;
    /*Position relative to allow absolute positioning of body parts */
    display: inline-block;
    /* Ensure the container only takes as much space as necessary */
    z-index: 1;
}

.guess-form {
    position: fixed;
    /* Position at the bottom */
    width: 100%;
    left: 0;
    right: 0;
    bottom: 100px;
    text-align: center;
    display: inline-block;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    padding: 20px;
    /* Add padding for better appearance */
    font-family: permanentMarker;
}

.guess-box {
    width: 30%;
    height: 40px;
    font-family: "Permanent Marker";
    font-size: 24pt;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: white;
    color: saddlebrown;
    font-family: permanentMarker;
}

.guess-box::placeholder {
    color: sandybrown;
    /* Style placeholder text color */
}

.guess_button {
    margin-left: 20px;
    width: 10%;
    height: 65px;
    /* Match input height */
    padding: 0 20px;
    /* Add padding for better appearance */
    border: none;
    /* Remove default button border */
    border-radius: 10px;
    /* Add rounded corners */
    background-color: saddlebrown;
    /* Set background color */
    color: white;
    /* Set text color */
    font-size: 24px;
    /* Set font size */
    cursor: pointer;
    /* Change cursor to pointer on hover */
    transition: background-color 0.3s;
    /* Add transition for smoother hover effect */
    font-family: permanentMarker;
}

.guess_button:hover {
    background-color: brown;
    /* Darken background color on hover */
}

.solution {
    float: right;
    margin-top: 500px;
    margin-right: 300px;
    display: flex;
    font-family: permanentMarker;
}

.placeholders {
    color: black;
    font-weight: bold;
    text-decoration: underline;
    font-size: 28pt;
    padding: 10px 20px;
    margin: 5px;
}

.head {
    position: absolute;
    z-index: 2;
    top: 220px;
    left: 330px;
}

.torso {
    position: absolute;
    z-index: 4;
    top: 345px;
    left: 415px;
}

.left-arm {
    position: absolute;
    z-index: 3;
    top: 350px;
    left: 350px;
}

.right-arm {
    position: absolute;
    z-index: 3;
    top: 355px;
    left: 420px;
}

.left-leg {
    position: absolute;
    z-index: 3;
    top: 445px;
    left: 347px;
}

.right-leg {
    position: absolute;
    z-index: 3;
    top: 447px;
    left: 420px;
}

#message-box-win {
    position: absolute;
    width: 450px;
    height: 170px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 255, 0, 0.3);
    padding: 20px;
    z-index: 10;
    font-family: permanentMarker;
    font-size: 24pt;
    border-radius: 20px;
    animation: fadeInOut 1s ease-in forwards;
}

#message-box-lose {
    position: absolute;
    width: 450px;
    height: 170px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #df7777;
    padding: 20px;
    z-index: 10;
    font-family: permanentMarker;
    font-size: 24pt;
    border-radius: 20px;
    animation: fadeInOut 1s ease-in forwards;
}

/*
.message-box a {
    display: block;
    text-decoration: none;
    width: 100px;
    height: auto;
    margin: 0 auto;
    text-align: center;
    z-index: 11;
    font-size: 18pt;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    padding: 10px;
    
}
*/


.message-box a:hover {
    text-decoration: underline;
}

#message-win-text {
    text-align: center;
    font-size: 24pt;
    animation: blink 1.8s infinite;
    color: grey;
    font-weight: bold;
    font-family: permanentMarker;
  font-weight: 400;
  font-style: normal;
}

#message-lose-text {
    font-family: permanentMarker;
  font-weight: 400;
  font-style: normal;
    text-align: center;
    font-size: 24pt;
    animation: blink 1.8s infinite;
    color: rgb(60, 60, 60);
    font-weight: bold;
}

.next_level_button {
    display: block;
    margin: 0 auto;
    width: 250px;
    text-align: center;
    padding: 5px 5px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    animation: fadeInOut 1.5s ease-in;
    font-family: permanentMarker;
}


.home_button {
    display: block;
    margin: 0 auto;
    width: 130px;
    text-align: center;
    padding: 5px 5px;
    background-color: #AA0000;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    animation: fadeInOut 1.5s ease-in;
    font-family: permanentMarker;
}

.next_level_button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.home_button:hover {
    background-color: #AA0000;
    transform: scale(1.05);
}



@keyframes blink {
    0% {
        opacity: 1;
    }

    /*starts with fully visible*/
    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}